//
   Created by Josue on 22/11/16.
div
    span(ng-class='{ complete: $ctrl.item.complete }')
    button(type='button', ng-click='$ctrl.onChange({ $event: { todo: $ctrl.item } });') Done
    button(type='button', ng-click='$ctrl.onRemove({ $event: { todo: $ctrl.item } });') Delete
